/**
 * Normalize
 */
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

a,
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.material-icons {
  vertical-align: middle;
}

a > .material-icons,
input > .material-icons,
button > .material-icons {
  pointer-events: none;
}

section,
article,
header {
  display: block;
}

table {
  text-align: left;
  border-collapse: collapse;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 1rem 0;
}

/**
 * Typography
 */
body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  color: #464646;
  background-color: #fafafa;
}

.title,
h1, h2, h3, h4, h5, h6 {
  color: #0a0a0a;
  font-weight: 700;
  margin: 1rem 0 0.35rem 0;
}

p {
  margin: 1rem 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.sm {
  font-size: 0.6180469716rem;
  line-height: 1.6;
}

.rg {
  font-size: 1rem;
  line-height: 1.6;
}

.md {
  font-size: 1.618rem;
  line-height: 1.4;
}

.lg {
  font-size: 3.236rem;
  line-height: 1.2;
}

.xl {
  font-size: 4.854rem;
  line-height: 1.2;
}

.xxl {
  font-size: 6.472rem;
  line-height: 1.2;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

.cap {
  text-transform: capitalize;
}

.it {
  font-style: italic;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

/**
 * Flex
 */
/** Row */
.flex-list-center, .flex-list-baseline, .flex-center, .flex-baseline {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.flex-baseline {
  align-items: baseline;
}

.flex-center {
  align-items: center;
}

/** Lists */
.flex-list-center > li, .flex-list-baseline > li {
  margin: 0 1rem 1rem 0;
}

.flex-list-baseline {
  align-items: baseline;
}

.flex-list-center {
  align-items: center;
}

/**
 * Grid
 */
.container {
  max-width: 1024px;
  margin: 0 auto;
}

.col-sm-1,
.col-1,
.col-lg-1 {
  margin-bottom: 1rem;
}

.col-sm-2,
.col-2,
.col-lg-2 {
  margin-bottom: 1rem;
}

.col-sm-3,
.col-3,
.col-lg-3 {
  margin-bottom: 1rem;
}

.col-sm-4,
.col-4,
.col-lg-4 {
  margin-bottom: 1rem;
}

.col-sm-5,
.col-5,
.col-lg-5 {
  margin-bottom: 1rem;
}

.col-sm-6,
.col-6,
.col-lg-6 {
  margin-bottom: 1rem;
}

.col-sm-7,
.col-7,
.col-lg-7 {
  margin-bottom: 1rem;
}

.col-sm-8,
.col-8,
.col-lg-8 {
  margin-bottom: 1rem;
}

.col-sm-9,
.col-9,
.col-lg-9 {
  margin-bottom: 1rem;
}

.col-sm-10,
.col-10,
.col-lg-10 {
  margin-bottom: 1rem;
}

.col-sm-11,
.col-11,
.col-lg-11 {
  margin-bottom: 1rem;
}

.col-sm-12,
.col-12,
.col-lg-12 {
  margin-bottom: 1rem;
}

@media (min-width: 460px) {
  .row-sm {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: -1rem;
    flex-direction: row;
  }

  .reverse-row-sm {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: -1rem;
    flex-direction: row-reverse;
  }

  .col-sm-1 {
    width: 8.3333333333%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-fixed-1 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 8.3333333333%;
    min-height: calc(100vh - 50px);
  }

  .col-sm-2 {
    width: 16.6666666667%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-fixed-2 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 16.6666666667%;
    min-height: calc(100vh - 50px);
  }

  .col-sm-3 {
    width: 25%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-fixed-3 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 25%;
    min-height: calc(100vh - 50px);
  }

  .col-sm-4 {
    width: 33.3333333333%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-fixed-4 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 33.3333333333%;
    min-height: calc(100vh - 50px);
  }

  .col-sm-5 {
    width: 41.6666666667%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-fixed-5 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 41.6666666667%;
    min-height: calc(100vh - 50px);
  }

  .col-sm-6 {
    width: 50%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-fixed-6 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 50%;
    min-height: calc(100vh - 50px);
  }

  .col-sm-7 {
    width: 58.3333333333%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-fixed-7 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 58.3333333333%;
    min-height: calc(100vh - 50px);
  }

  .col-sm-8 {
    width: 66.6666666667%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-fixed-8 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 66.6666666667%;
    min-height: calc(100vh - 50px);
  }

  .col-sm-9 {
    width: 75%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-fixed-9 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 75%;
    min-height: calc(100vh - 50px);
  }

  .col-sm-10 {
    width: 83.3333333333%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-fixed-10 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 83.3333333333%;
    min-height: calc(100vh - 50px);
  }

  .col-sm-11 {
    width: 91.6666666667%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-fixed-11 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 91.6666666667%;
    min-height: calc(100vh - 50px);
  }

  .col-sm-12 {
    width: 100%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm-fixed-12 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 100%;
    min-height: calc(100vh - 50px);
  }
}
@media (min-width: 768px) {
  .row {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: -1rem;
    flex-direction: row;
  }

  .reverse-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: -1rem;
    flex-direction: row-reverse;
  }

  .col-1 {
    width: 8.3333333333%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-fixed-1 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 8.3333333333%;
    min-height: calc(100vh - 50px);
  }

  .col-2 {
    width: 16.6666666667%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-fixed-2 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 16.6666666667%;
    min-height: calc(100vh - 50px);
  }

  .col-3 {
    width: 25%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-offset-3 {
    margin-left: 25%;
  }

  .col-fixed-3 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 25%;
    min-height: calc(100vh - 50px);
  }

  .col-4 {
    width: 33.3333333333%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-fixed-4 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 33.3333333333%;
    min-height: calc(100vh - 50px);
  }

  .col-5 {
    width: 41.6666666667%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-fixed-5 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 41.6666666667%;
    min-height: calc(100vh - 50px);
  }

  .col-6 {
    width: 50%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-offset-6 {
    margin-left: 50%;
  }

  .col-fixed-6 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 50%;
    min-height: calc(100vh - 50px);
  }

  .col-7 {
    width: 58.3333333333%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-fixed-7 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 58.3333333333%;
    min-height: calc(100vh - 50px);
  }

  .col-8 {
    width: 66.6666666667%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-fixed-8 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 66.6666666667%;
    min-height: calc(100vh - 50px);
  }

  .col-9 {
    width: 75%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-offset-9 {
    margin-left: 75%;
  }

  .col-fixed-9 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 75%;
    min-height: calc(100vh - 50px);
  }

  .col-10 {
    width: 83.3333333333%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-fixed-10 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 83.3333333333%;
    min-height: calc(100vh - 50px);
  }

  .col-11 {
    width: 91.6666666667%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-fixed-11 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 91.6666666667%;
    min-height: calc(100vh - 50px);
  }

  .col-12 {
    width: 100%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-offset-12 {
    margin-left: 100%;
  }

  .col-fixed-12 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 100%;
    min-height: calc(100vh - 50px);
  }
}
@media (min-width: 1024px) {
  .row-lg {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: -1rem;
    flex-direction: row;
  }

  .reverse-row-lg {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: -1rem;
    flex-direction: row-reverse;
  }

  .col-lg-1 {
    width: 8.3333333333%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-fixed-1 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 8.3333333333%;
    min-height: calc(100vh - 50px);
  }

  .col-lg-2 {
    width: 16.6666666667%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-fixed-2 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 16.6666666667%;
    min-height: calc(100vh - 50px);
  }

  .col-lg-3 {
    width: 25%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-fixed-3 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 25%;
    min-height: calc(100vh - 50px);
  }

  .col-lg-4 {
    width: 33.3333333333%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-fixed-4 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 33.3333333333%;
    min-height: calc(100vh - 50px);
  }

  .col-lg-5 {
    width: 41.6666666667%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-fixed-5 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 41.6666666667%;
    min-height: calc(100vh - 50px);
  }

  .col-lg-6 {
    width: 50%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-fixed-6 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 50%;
    min-height: calc(100vh - 50px);
  }

  .col-lg-7 {
    width: 58.3333333333%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-fixed-7 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 58.3333333333%;
    min-height: calc(100vh - 50px);
  }

  .col-lg-8 {
    width: 66.6666666667%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-fixed-8 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 66.6666666667%;
    min-height: calc(100vh - 50px);
  }

  .col-lg-9 {
    width: 75%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-fixed-9 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 75%;
    min-height: calc(100vh - 50px);
  }

  .col-lg-10 {
    width: 83.3333333333%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-fixed-10 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 83.3333333333%;
    min-height: calc(100vh - 50px);
  }

  .col-lg-11 {
    width: 91.6666666667%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-fixed-11 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 91.6666666667%;
    min-height: calc(100vh - 50px);
  }

  .col-lg-12 {
    width: 100%;
    padding-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 0;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .col-lg-fixed-12 {
    position: fixed;
    top: 50px;
    right: 0;
    width: 100%;
    min-height: calc(100vh - 50px);
  }
}
/**
 * Sections
 */
article + article {
  margin-top: 3.236rem;
}

/** 
 * Margins 
 */
.mg-top, .mg-stack, .mg {
  margin-top: 1rem;
}
.mg-top-sm, .mg-stack-sm, .mg-sm {
  margin-top: 0.6180469716rem;
}
.mg-top-md, .mg-stack-md, .mg-md {
  margin-top: 1.618rem;
}
.mg-top-lg, .mg-stack-lg, .mg-lg {
  margin-top: 3.236rem;
}
.mg-top-xl, .mg-stack-xl, .mg-xl {
  margin-top: 4.854rem;
}
.mg-top-xxl, .mg-stack-xxl, .mg-xxl {
  margin-top: 6.472rem;
}

.mg-right, .mg-col, .mg {
  margin-right: 1rem;
}
.mg-right-sm, .mg-col-sm, .mg-sm {
  margin-right: 0.6180469716rem;
}
.mg-right-md, .mg-col-md, .mg-md {
  margin-right: 1.618rem;
}
.mg-right-lg, .mg-col-lg, .mg-lg {
  margin-right: 3.236rem;
}
.mg-right-xl, .mg-col-xl, .mg-xl {
  margin-right: 4.854rem;
}
.mg-right-xxl, .mg-col-xxl, .mg-xxl {
  margin-right: 6.472rem;
}

.mg-bottom, .mg-stack, .mg {
  margin-bottom: 1rem;
}
.mg-bottom-sm, .mg-stack-sm, .mg-sm {
  margin-bottom: 0.6180469716rem;
}
.mg-bottom-md, .mg-stack-md, .mg-md {
  margin-bottom: 1.618rem;
}
.mg-bottom-lg, .mg-stack-lg, .mg-lg {
  margin-bottom: 3.236rem;
}
.mg-bottom-xl, .mg-stack-xl, .mg-xl {
  margin-bottom: 4.854rem;
}
.mg-bottom-xxl, .mg-stack-xxl, .mg-xxl {
  margin-bottom: 6.472rem;
}

.mg-left, .mg-col, .mg {
  margin-left: 1rem;
}
.mg-left-sm, .mg-col-sm, .mg-sm {
  margin-left: 0.6180469716rem;
}
.mg-left-md, .mg-col-md, .mg-md {
  margin-left: 1.618rem;
}
.mg-left-lg, .mg-col-lg, .mg-lg {
  margin-left: 3.236rem;
}
.mg-left-xl, .mg-col-xl, .mg-xl {
  margin-left: 4.854rem;
}
.mg-left-xxl, .mg-col-xxl, .mg-xxl {
  margin-left: 6.472rem;
}

/** 
 * Paddings
 */
.pd-top, .pd-stack, .pd {
  padding-top: 0.3rem;
}
.pd-top-sm, .pd-stack-sm, .pd-sm {
  padding-top: 0.1854140915rem;
}
.pd-top-md, .pd-stack-md, .pd-md {
  padding-top: 0.4854rem;
}
.pd-top-lg, .pd-stack-lg, .pd-lg {
  padding-top: 0.9708rem;
}
.pd-top-xl, .pd-stack-xl, .pd-xl {
  padding-top: 1.4562rem;
}
.pd-top-xxl, .pd-stack-xxl, .pd-xxl {
  padding-top: 1.9416rem;
}

.pd-right, .pd-col, .pd {
  padding-right: 0.7rem;
}
.pd-right-sm, .pd-col-sm, .pd-sm {
  padding-right: 0.4326328801rem;
}
.pd-right-md, .pd-col-md, .pd-md {
  padding-right: 1.1326rem;
}
.pd-right-lg, .pd-col-lg, .pd-lg {
  padding-right: 2.2652rem;
}
.pd-right-xl, .pd-col-xl, .pd-xl {
  padding-right: 3.3978rem;
}
.pd-right-xxl, .pd-col-xxl, .pd-xxl {
  padding-right: 4.5304rem;
}

.pd-bottom, .pd-stack, .pd {
  padding-bottom: 0.3rem;
}
.pd-bottom-sm, .pd-stack-sm, .pd-sm {
  padding-bottom: 0.1854140915rem;
}
.pd-bottom-md, .pd-stack-md, .pd-md {
  padding-bottom: 0.4854rem;
}
.pd-bottom-lg, .pd-stack-lg, .pd-lg {
  padding-bottom: 0.9708rem;
}
.pd-bottom-xl, .pd-stack-xl, .pd-xl {
  padding-bottom: 1.4562rem;
}
.pd-bottom-xxl, .pd-stack-xxl, .pd-xxl {
  padding-bottom: 1.9416rem;
}

.pd-left, .pd-col, .pd {
  padding-left: 0.7rem;
}
.pd-left-sm, .pd-col-sm, .pd-sm {
  padding-left: 0.4326328801rem;
}
.pd-left-md, .pd-col-md, .pd-md {
  padding-left: 1.1326rem;
}
.pd-left-lg, .pd-col-lg, .pd-lg {
  padding-left: 2.2652rem;
}
.pd-left-xl, .pd-col-xl, .pd-xl {
  padding-left: 3.3978rem;
}
.pd-left-xxl, .pd-col-xxl, .pd-xxl {
  padding-left: 4.5304rem;
}

.app {
  padding-top: 50px;
}

/**
 * Box
 */
.box {
  padding: 1rem;
}

.box-inline {
  display: inline-block;
}

.box-block {
  display: block;
}

.box-rounded {
  border-radius: 0.3em;
}

.box-golden {
  display: inline-block;
  height: 1em;
  width: 1.618em;
}

.box-circle {
  width: 1em;
  height: 1em;
  border-radius: 1em;
  display: inline-block;
}

.brand-white, .brand-black, .brand-primary {
  width: 3em;
  height: 3em;
  border-radius: 3em;
  display: inline-block;
  background-position: center center;
  background-size: 100% 100%;
}

.brand-primary {
  background-image: url("http://localhost:3601/images/brand/core-brand-primary.svg");
}

.brand-black {
  background-image: url("http://localhost:3601/images/brand/core-brand-black.svg");
}

.brand-white {
  background-image: url("http://localhost:3601/images/brand/core-brand-white.svg");
}

/**
 * Buttons
 */
.btn-black, .btn-gray-9, .btn-gray-8, .btn-gray-7, .btn-gray-6, .btn-gray-5, .btn-gray-4, .btn-gray-3, .btn-gray-2, .btn-gray-1, .btn-white, .btn-error, .btn-warning, .btn-success, .btn-info, .btn-secondary, .btn-primary {
  padding: 0.3rem 0.7rem;
  display: inline-block;
  background-image: none;
  text-align: center;
  min-width: 6rem;
  border-radius: 0.3em;
  cursor: pointer;
}
.btn--square.btn-black, .btn--square.btn-gray-9, .btn--square.btn-gray-8, .btn--square.btn-gray-7, .btn--square.btn-gray-6, .btn--square.btn-gray-5, .btn--square.btn-gray-4, .btn--square.btn-gray-3, .btn--square.btn-gray-2, .btn--square.btn-gray-1, .btn--square.btn-white, .btn--square.btn-error, .btn--square.btn-warning, .btn--square.btn-success, .btn--square.btn-info, .btn--square.btn-secondary, .btn--square.btn-primary {
  min-width: unset;
  padding: 0;
  height: 36px;
  width: 36px;
}

.btn-primary {
  color: #fafafa;
  background-color: #ff3d00;
  border: 0.1rem solid #ff3d00;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-out;
}
.btn-primary:hover, .btn-primary:focus {
  color: #fafafa;
  background-color: #e63700;
  outline: none;
  border: 0.1rem solid #e63700;
}
.btn-primary.is--disabled, .btn-primary[disabled] {
  color: #cc3100;
}
.btn-primary.is--disabled:hover, .btn-primary.is--disabled:focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus {
  cursor: not-allowed;
  color: #cc3100;
  background-color: #ff3d00;
  outline: none;
  border: 0.1rem solid #ff3d00;
}
.btn-primary:hover, .btn-primary:focus {
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-in;
}

.btn-secondary {
  color: #fafafa;
  background-color: #0c76cc;
  border: 0.1rem solid #0c76cc;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-out;
}
.btn-secondary:hover, .btn-secondary:focus {
  color: #fafafa;
  background-color: #0b68b4;
  outline: none;
  border: 0.1rem solid #0b68b4;
}
.btn-secondary.is--disabled, .btn-secondary[disabled] {
  color: #095a9c;
}
.btn-secondary.is--disabled:hover, .btn-secondary.is--disabled:focus, .btn-secondary[disabled]:hover, .btn-secondary[disabled]:focus {
  cursor: not-allowed;
  color: #095a9c;
  background-color: #0c76cc;
  outline: none;
  border: 0.1rem solid #0c76cc;
}
.btn-secondary:hover, .btn-secondary:focus {
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-in;
}

.btn-info {
  color: #fafafa;
  background-color: #25a878;
  border: 0.1rem solid #25a878;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-out;
}
.btn-info:hover, .btn-info:focus {
  color: #fafafa;
  background-color: #209369;
  outline: none;
  border: 0.1rem solid #209369;
}
.btn-info.is--disabled, .btn-info[disabled] {
  color: #1c7e5a;
}
.btn-info.is--disabled:hover, .btn-info.is--disabled:focus, .btn-info[disabled]:hover, .btn-info[disabled]:focus {
  cursor: not-allowed;
  color: #1c7e5a;
  background-color: #25a878;
  outline: none;
  border: 0.1rem solid #25a878;
}
.btn-info:hover, .btn-info:focus {
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-in;
}

.btn-success {
  color: #fafafa;
  background-color: #25a878;
  border: 0.1rem solid #25a878;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-out;
}
.btn-success:hover, .btn-success:focus {
  color: #fafafa;
  background-color: #209369;
  outline: none;
  border: 0.1rem solid #209369;
}
.btn-success.is--disabled, .btn-success[disabled] {
  color: #1c7e5a;
}
.btn-success.is--disabled:hover, .btn-success.is--disabled:focus, .btn-success[disabled]:hover, .btn-success[disabled]:focus {
  cursor: not-allowed;
  color: #1c7e5a;
  background-color: #25a878;
  outline: none;
  border: 0.1rem solid #25a878;
}
.btn-success:hover, .btn-success:focus {
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-in;
}

.btn-warning {
  color: #464646;
  background-color: #f9ea69;
  border: 0.1rem solid #f9ea69;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-out;
}
.btn-warning:hover, .btn-warning:focus {
  color: #464646;
  background-color: #f7e338;
  outline: none;
  border: 0.1rem solid #f7e338;
}
.btn-warning.is--disabled, .btn-warning[disabled] {
  color: #c1ae08;
}
.btn-warning.is--disabled:hover, .btn-warning.is--disabled:focus, .btn-warning[disabled]:hover, .btn-warning[disabled]:focus {
  cursor: not-allowed;
  color: #c1ae08;
  background-color: #f9ea69;
  outline: none;
  border: 0.1rem solid #f9ea69;
}
.btn-warning:hover, .btn-warning:focus {
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-in;
}

.btn-error {
  color: #fafafa;
  background-color: #cc3c37;
  border: 0.1rem solid #cc3c37;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-out;
}
.btn-error:hover, .btn-error:focus {
  color: #fafafa;
  background-color: #ba342f;
  outline: none;
  border: 0.1rem solid #ba342f;
}
.btn-error.is--disabled, .btn-error[disabled] {
  color: #912925;
}
.btn-error.is--disabled:hover, .btn-error.is--disabled:focus, .btn-error[disabled]:hover, .btn-error[disabled]:focus {
  cursor: not-allowed;
  color: #912925;
  background-color: #cc3c37;
  outline: none;
  border: 0.1rem solid #cc3c37;
}
.btn-error:hover, .btn-error:focus {
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-in;
}

.btn-white {
  color: #464646;
  background-color: #fafafa;
  border: 0.1rem solid #fafafa;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-out;
}
.btn-white:hover, .btn-white:focus {
  color: #464646;
  background-color: gainsboro;
  outline: none;
  border: 0.1rem solid gainsboro;
}
.btn-white.is--disabled, .btn-white[disabled] {
  color: #848484;
}
.btn-white.is--disabled:hover, .btn-white.is--disabled:focus, .btn-white[disabled]:hover, .btn-white[disabled]:focus {
  cursor: not-allowed;
  color: #848484;
  background-color: #fafafa;
  outline: none;
  border: 0.1rem solid #fafafa;
}
.btn-white:hover, .btn-white:focus {
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-in;
}

.btn-gray-1 {
  color: #1e1e1e;
  background-color: #f0f0f0;
  border: 0.1rem solid #f0f0f0;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-out;
}
.btn-gray-1:hover, .btn-gray-1:focus {
  color: #1e1e1e;
  background-color: gainsboro;
  outline: none;
  border: 0.1rem solid gainsboro;
}
.btn-gray-1.is--disabled, .btn-gray-1[disabled] {
  color: #848484;
}
.btn-gray-1.is--disabled:hover, .btn-gray-1.is--disabled:focus, .btn-gray-1[disabled]:hover, .btn-gray-1[disabled]:focus {
  cursor: not-allowed;
  color: #848484;
  background-color: #f0f0f0;
  outline: none;
  border: 0.1rem solid #f0f0f0;
}
.btn-gray-1:hover, .btn-gray-1:focus {
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-in;
}

.btn-gray-2 {
  color: #1e1e1e;
  background-color: gainsboro;
  border: 0.1rem solid gainsboro;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-out;
}
.btn-gray-2:hover, .btn-gray-2:focus {
  color: #1e1e1e;
  background-color: #c8c8c8;
  outline: none;
  border: 0.1rem solid #c8c8c8;
}
.btn-gray-2.is--disabled, .btn-gray-2[disabled] {
  color: #848484;
}
.btn-gray-2.is--disabled:hover, .btn-gray-2.is--disabled:focus, .btn-gray-2[disabled]:hover, .btn-gray-2[disabled]:focus {
  cursor: not-allowed;
  color: #848484;
  background-color: gainsboro;
  outline: none;
  border: 0.1rem solid gainsboro;
}
.btn-gray-2:hover, .btn-gray-2:focus {
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-in;
}

.btn-gray-3 {
  color: #1e1e1e;
  background-color: #c8c8c8;
  border: 0.1rem solid #c8c8c8;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-out;
}
.btn-gray-3:hover, .btn-gray-3:focus {
  color: #1e1e1e;
  background-color: #bbbbbb;
  outline: none;
  border: 0.1rem solid #bbbbbb;
}
.btn-gray-3.is--disabled, .btn-gray-3[disabled] {
  color: #6b6b6b;
}
.btn-gray-3.is--disabled:hover, .btn-gray-3.is--disabled:focus, .btn-gray-3[disabled]:hover, .btn-gray-3[disabled]:focus {
  cursor: not-allowed;
  color: #6b6b6b;
  background-color: #c8c8c8;
  outline: none;
  border: 0.1rem solid #c8c8c8;
}
.btn-gray-3:hover, .btn-gray-3:focus {
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-in;
}

.btn-gray-4 {
  color: #f0f0f0;
  background-color: #8c8c8c;
  border: 0.1rem solid #8c8c8c;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-out;
}
.btn-gray-4:hover, .btn-gray-4:focus {
  color: #f0f0f0;
  background-color: #787878;
  outline: none;
  border: 0.1rem solid #787878;
}
.btn-gray-4.is--disabled, .btn-gray-4[disabled] {
  color: #9e9e9e;
}
.btn-gray-4.is--disabled:hover, .btn-gray-4.is--disabled:focus, .btn-gray-4[disabled]:hover, .btn-gray-4[disabled]:focus {
  cursor: not-allowed;
  color: #9e9e9e;
  background-color: #8c8c8c;
  outline: none;
  border: 0.1rem solid #8c8c8c;
}
.btn-gray-4:hover, .btn-gray-4:focus {
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-in;
}

.btn-gray-5 {
  color: #f0f0f0;
  background-color: #787878;
  border: 0.1rem solid #787878;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-out;
}
.btn-gray-5:hover, .btn-gray-5:focus {
  color: #f0f0f0;
  background-color: #646464;
  outline: none;
  border: 0.1rem solid #646464;
}
.btn-gray-5.is--disabled, .btn-gray-5[disabled] {
  color: #9e9e9e;
}
.btn-gray-5.is--disabled:hover, .btn-gray-5.is--disabled:focus, .btn-gray-5[disabled]:hover, .btn-gray-5[disabled]:focus {
  cursor: not-allowed;
  color: #9e9e9e;
  background-color: #787878;
  outline: none;
  border: 0.1rem solid #787878;
}
.btn-gray-5:hover, .btn-gray-5:focus {
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-in;
}

.btn-gray-6 {
  color: #f0f0f0;
  background-color: #646464;
  border: 0.1rem solid #646464;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-out;
}
.btn-gray-6:hover, .btn-gray-6:focus {
  color: #f0f0f0;
  background-color: #464646;
  outline: none;
  border: 0.1rem solid #464646;
}
.btn-gray-6.is--disabled, .btn-gray-6[disabled] {
  color: #9e9e9e;
}
.btn-gray-6.is--disabled:hover, .btn-gray-6.is--disabled:focus, .btn-gray-6[disabled]:hover, .btn-gray-6[disabled]:focus {
  cursor: not-allowed;
  color: #9e9e9e;
  background-color: #646464;
  outline: none;
  border: 0.1rem solid #646464;
}
.btn-gray-6:hover, .btn-gray-6:focus {
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-in;
}

.btn-gray-7 {
  color: #f0f0f0;
  background-color: #464646;
  border: 0.1rem solid #464646;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-out;
}
.btn-gray-7:hover, .btn-gray-7:focus {
  color: #f0f0f0;
  background-color: #1e1e1e;
  outline: none;
  border: 0.1rem solid #1e1e1e;
}
.btn-gray-7.is--disabled, .btn-gray-7[disabled] {
  color: #848484;
}
.btn-gray-7.is--disabled:hover, .btn-gray-7.is--disabled:focus, .btn-gray-7[disabled]:hover, .btn-gray-7[disabled]:focus {
  cursor: not-allowed;
  color: #848484;
  background-color: #464646;
  outline: none;
  border: 0.1rem solid #464646;
}
.btn-gray-7:hover, .btn-gray-7:focus {
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-in;
}

.btn-gray-8 {
  color: #f0f0f0;
  background-color: #323232;
  border: 0.1rem solid #323232;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-out;
}
.btn-gray-8:hover, .btn-gray-8:focus {
  color: #f0f0f0;
  background-color: #1e1e1e;
  outline: none;
  border: 0.1rem solid #1e1e1e;
}
.btn-gray-8.is--disabled, .btn-gray-8[disabled] {
  color: #848484;
}
.btn-gray-8.is--disabled:hover, .btn-gray-8.is--disabled:focus, .btn-gray-8[disabled]:hover, .btn-gray-8[disabled]:focus {
  cursor: not-allowed;
  color: #848484;
  background-color: #323232;
  outline: none;
  border: 0.1rem solid #323232;
}
.btn-gray-8:hover, .btn-gray-8:focus {
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-in;
}

.btn-gray-9 {
  color: #f0f0f0;
  background-color: #1e1e1e;
  border: 0.1rem solid #1e1e1e;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-out;
}
.btn-gray-9:hover, .btn-gray-9:focus {
  color: #f0f0f0;
  background-color: #1e1e1e;
  outline: none;
  border: 0.1rem solid #1e1e1e;
}
.btn-gray-9.is--disabled, .btn-gray-9[disabled] {
  color: #848484;
}
.btn-gray-9.is--disabled:hover, .btn-gray-9.is--disabled:focus, .btn-gray-9[disabled]:hover, .btn-gray-9[disabled]:focus {
  cursor: not-allowed;
  color: #848484;
  background-color: #1e1e1e;
  outline: none;
  border: 0.1rem solid #1e1e1e;
}
.btn-gray-9:hover, .btn-gray-9:focus {
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-in;
}

.btn-black {
  color: #f0f0f0;
  background-color: #0a0a0a;
  border: 0.1rem solid #0a0a0a;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-out;
}
.btn-black:hover, .btn-black:focus {
  color: #f0f0f0;
  background-color: #0a0a0a;
  outline: none;
  border: 0.1rem solid #0a0a0a;
}
.btn-black.is--disabled, .btn-black[disabled] {
  color: #848484;
}
.btn-black.is--disabled:hover, .btn-black.is--disabled:focus, .btn-black[disabled]:hover, .btn-black[disabled]:focus {
  cursor: not-allowed;
  color: #848484;
  background-color: #0a0a0a;
  outline: none;
  border: 0.1rem solid #0a0a0a;
}
.btn-black:hover, .btn-black:focus {
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-in;
}

/**
 * Colors
 */
/** Colors & Backgrounds */
.primary {
  color: #ff3d00;
}

.primary-bkg {
  background-color: #ff3d00;
}

.secondary {
  color: #0c76cc;
}

.secondary-bkg {
  background-color: #0c76cc;
}

.warning {
  color: #f9ea69;
}

.warning-bkg {
  background-color: #f9ea69;
}

.error {
  color: #cc3c37;
}

.error-bkg {
  background-color: #cc3c37;
}

.success {
  color: #25a878;
}

.success-bkg {
  background-color: #25a878;
}

.info {
  color: #b339bd;
}

.info-bkg {
  background-color: #b339bd;
}

.white {
  color: #fafafa;
}

.white-bkg {
  background-color: #fafafa;
}

.gray-1 {
  color: #f0f0f0;
}

.gray-1-bkg {
  background-color: #f0f0f0;
}

.gray-2 {
  color: gainsboro;
}

.gray-2-bkg {
  background-color: gainsboro;
}

.gray-3 {
  color: #c8c8c8;
}

.gray-3-bkg {
  background-color: #c8c8c8;
}

.gray-4 {
  color: #8c8c8c;
}

.gray-4-bkg {
  background-color: #8c8c8c;
}

.gray-5 {
  color: #787878;
}

.gray-5-bkg {
  background-color: #787878;
}

.gray-6 {
  color: #646464;
}

.gray-6-bkg {
  background-color: #646464;
}

.gray-7 {
  color: #464646;
}

.gray-7-bkg {
  background-color: #464646;
}

.gray-8 {
  color: #323232;
}

.gray-8-bkg {
  background-color: #323232;
}

.gray-9 {
  color: #1e1e1e;
}

.gray-9-bkg {
  background-color: #1e1e1e;
}

.black {
  color: #0a0a0a;
}

.black-bkg {
  background-color: #0a0a0a;
}

/** Mixins */
.primary-mix {
  background-color: #ff3d00;
  color: #fafafa;
}

.primary-mix-alpha {
  background-color: rgba(255, 61, 0, 0.9);
  color: #fafafa;
}

.secondary-mix {
  background-color: #0c76cc;
  color: #fafafa;
}

.secondary-mix-alpha {
  background-color: rgba(12, 118, 204, 0.9);
  color: #fafafa;
}

.info-mix {
  background-color: #25a878;
  color: #fafafa;
}

.info-mix-alpha {
  background-color: rgba(37, 168, 120, 0.9);
  color: #fafafa;
}

.success-mix {
  background-color: #25a878;
  color: #fafafa;
}

.success-mix-alpha {
  background-color: rgba(37, 168, 120, 0.9);
  color: #fafafa;
}

.warning-mix {
  background-color: #f9ea69;
  color: #464646;
}

.warning-mix-alpha {
  background-color: rgba(249, 234, 105, 0.9);
  color: #464646;
}

.error-mix {
  background-color: #cc3c37;
  color: #fafafa;
}

.error-mix-alpha {
  background-color: rgba(204, 60, 55, 0.9);
  color: #fafafa;
}

.white-mix {
  background-color: #fafafa;
  color: #464646;
}

.white-mix-alpha {
  background-color: rgba(250, 250, 250, 0.9);
  color: #464646;
}

.gray-1-mix {
  background-color: #f0f0f0;
  color: #1e1e1e;
}

.gray-1-mix-alpha {
  background-color: rgba(240, 240, 240, 0.9);
  color: #1e1e1e;
}

.gray-2-mix {
  background-color: gainsboro;
  color: #1e1e1e;
}

.gray-2-mix-alpha {
  background-color: rgba(220, 220, 220, 0.9);
  color: #1e1e1e;
}

.gray-3-mix {
  background-color: #c8c8c8;
  color: #1e1e1e;
}

.gray-3-mix-alpha {
  background-color: rgba(200, 200, 200, 0.9);
  color: #1e1e1e;
}

.gray-4-mix {
  background-color: #8c8c8c;
  color: #f0f0f0;
}

.gray-4-mix-alpha {
  background-color: rgba(140, 140, 140, 0.9);
  color: #f0f0f0;
}

.gray-5-mix {
  background-color: #787878;
  color: #f0f0f0;
}

.gray-5-mix-alpha {
  background-color: rgba(120, 120, 120, 0.9);
  color: #f0f0f0;
}

.gray-6-mix {
  background-color: #646464;
  color: #f0f0f0;
}

.gray-6-mix-alpha {
  background-color: rgba(100, 100, 100, 0.9);
  color: #f0f0f0;
}

.gray-7-mix {
  background-color: #464646;
  color: #f0f0f0;
}

.gray-7-mix-alpha {
  background-color: rgba(30, 30, 30, 0.9);
  color: #f0f0f0;
}

.gray-8-mix {
  background-color: #323232;
  color: #f0f0f0;
}

.gray-8-mix-alpha {
  background-color: rgba(30, 30, 30, 0.9);
  color: #f0f0f0;
}

.gray-9-mix {
  background-color: #1e1e1e;
  color: #f0f0f0;
}

.gray-9-mix-alpha {
  background-color: rgba(30, 30, 30, 0.9);
  color: #f0f0f0;
}

.black-mix {
  background-color: #0a0a0a;
  color: #f0f0f0;
}

.black-mix-alpha {
  background-color: rgba(10, 10, 10, 0.9);
  color: #f0f0f0;
}

/**
 * Forms
 */
.form {
  display: block;
  width: 100%;
}
.form > .form__group, .form > .form__list > li, .form > .form__submit {
  margin: 0.7rem 0;
}
.form > .form__group > .input, .form > .form__group > input:not([type=submit]), .form > .form__group > .select, .form > .form__group > select, .form > .form__group > .textarea, .form > .form__group > textarea, .form > .form__list > li > .input, .form > .form__list > li > input:not([type=submit]), .form > .form__list > li > .select, .form > .form__list > li > select, .form > .form__list > li > .textarea, .form > .form__list > li > textarea {
  width: 100%;
}
.form > .form__group > .label, .form > .form__group > label, .form > .form__list > li > .label, .form > .form__list > li > label {
  display: block;
  margin-bottom: 0.3rem;
}
.form > .form__submit {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

.inline-form {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.inline-form > .form__group, .inline-form > .form__list > li, .inline-form > .form__submit {
  margin: 0 0.7rem 0.7rem 0;
}

.form__list {
  list-style-type: none;
  padding: 0;
}

/**
 * Inputs
 */
.input, input:not([type=submit]),
.select, select,
.textarea, textarea {
  color: #464646;
  background-color: #fafafa;
  border: 0.1rem solid #fafafa;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-out;
  padding: 0.3rem 0.7rem;
  border: 0.1rem solid gainsboro;
  border-radius: 0.3em;
  background-image: none;
}
.input:hover, input:hover:not([type=submit]),
.select:hover, select:hover,
.textarea:hover, textarea:hover, .input:focus, input:focus:not([type=submit]),
.select:focus, select:focus,
.textarea:focus, textarea:focus {
  color: #464646;
  background-color: gainsboro;
  outline: none;
  border: 0.1rem solid gainsboro;
}
.is--disabled.input, input.is--disabled:not([type=submit]),
.is--disabled.select, select.is--disabled,
.is--disabled.textarea, textarea.is--disabled, [disabled].input, input[disabled]:not([type=submit]),
[disabled].select, select[disabled],
[disabled].textarea, textarea[disabled] {
  color: #848484;
}
.is--disabled.input:hover, input.is--disabled:hover:not([type=submit]),
.is--disabled.select:hover, select.is--disabled:hover,
.is--disabled.textarea:hover, textarea.is--disabled:hover, .is--disabled.input:focus, input.is--disabled:focus:not([type=submit]),
.is--disabled.select:focus, select.is--disabled:focus,
.is--disabled.textarea:focus, textarea.is--disabled:focus, [disabled].input:hover, input[disabled]:hover:not([type=submit]),
[disabled].select:hover, select[disabled]:hover,
[disabled].textarea:hover, textarea[disabled]:hover, [disabled].input:focus, input[disabled]:focus:not([type=submit]),
[disabled].select:focus, select[disabled]:focus,
[disabled].textarea:focus, textarea[disabled]:focus {
  cursor: not-allowed;
  color: #848484;
  background-color: #fafafa;
  outline: none;
  border: 0.1rem solid #fafafa;
}
.input:hover, input:hover:not([type=submit]),
.select:hover, select:hover,
.textarea:hover, textarea:hover, .input:focus, input:focus:not([type=submit]),
.select:focus, select:focus,
.textarea:focus, textarea:focus {
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-in;
}
.input::placeholder, input:not([type=submit])::placeholder,
.select::placeholder, select::placeholder,
.textarea::placeholder, textarea::placeholder {
  color: #8c8c8c;
}
.input--warning.input, input.input--warning:not([type=submit]),
.input--warning.select, select.input--warning,
.input--warning.textarea, textarea.input--warning {
  text-decoration: none;
  border: 0.1rem solid #f7e338;
}
.input--warning.input:hover, input.input--warning:hover:not([type=submit]),
.input--warning.select:hover, select.input--warning:hover,
.input--warning.textarea:hover, textarea.input--warning:hover, .input--warning.input:focus, input.input--warning:focus:not([type=submit]),
.input--warning.select:focus, select.input--warning:focus,
.input--warning.textarea:focus, textarea.input--warning:focus {
  color: #464646;
  background-color: #f7e338;
  outline: none;
  border: 0.1rem solid #f7e338;
}
.input--warning.is--disabled.input, input.input--warning.is--disabled:not([type=submit]),
.input--warning.is--disabled.select, select.input--warning.is--disabled,
.input--warning.is--disabled.textarea, textarea.input--warning.is--disabled, .input--warning[disabled].input, input.input--warning[disabled]:not([type=submit]),
.input--warning[disabled].select, select.input--warning[disabled],
.input--warning[disabled].textarea, textarea.input--warning[disabled] {
  color: #c1ae08;
}
.input--warning.is--disabled.input:hover, input.input--warning.is--disabled:hover:not([type=submit]),
.input--warning.is--disabled.select:hover, select.input--warning.is--disabled:hover,
.input--warning.is--disabled.textarea:hover, textarea.input--warning.is--disabled:hover, .input--warning.is--disabled.input:focus, input.input--warning.is--disabled:focus:not([type=submit]),
.input--warning.is--disabled.select:focus, select.input--warning.is--disabled:focus,
.input--warning.is--disabled.textarea:focus, textarea.input--warning.is--disabled:focus, .input--warning[disabled].input:hover, input.input--warning[disabled]:hover:not([type=submit]),
.input--warning[disabled].select:hover, select.input--warning[disabled]:hover,
.input--warning[disabled].textarea:hover, textarea.input--warning[disabled]:hover, .input--warning[disabled].input:focus, input.input--warning[disabled]:focus:not([type=submit]),
.input--warning[disabled].select:focus, select.input--warning[disabled]:focus,
.input--warning[disabled].textarea:focus, textarea.input--warning[disabled]:focus {
  cursor: not-allowed;
  color: #c1ae08;
  background-color: #f9ea69;
  outline: none;
  border: 0.1rem solid #f9ea69;
}
.input--warning.input::placeholder, input.input--warning:not([type=submit])::placeholder,
.input--warning.select::placeholder, select.input--warning::placeholder,
.input--warning.textarea::placeholder, textarea.input--warning::placeholder {
  color: #464646;
}
.input--error.input, input.input--error:not([type=submit]),
.input--error.select, select.input--error,
.input--error.textarea, textarea.input--error {
  text-decoration: none;
  border: 0.1rem solid #ba342f;
}
.input--error.input:hover, input.input--error:hover:not([type=submit]),
.input--error.select:hover, select.input--error:hover,
.input--error.textarea:hover, textarea.input--error:hover, .input--error.input:focus, input.input--error:focus:not([type=submit]),
.input--error.select:focus, select.input--error:focus,
.input--error.textarea:focus, textarea.input--error:focus {
  color: #fafafa;
  background-color: #ba342f;
  outline: none;
  border: 0.1rem solid #ba342f;
}
.input--error.is--disabled.input, input.input--error.is--disabled:not([type=submit]),
.input--error.is--disabled.select, select.input--error.is--disabled,
.input--error.is--disabled.textarea, textarea.input--error.is--disabled, .input--error[disabled].input, input.input--error[disabled]:not([type=submit]),
.input--error[disabled].select, select.input--error[disabled],
.input--error[disabled].textarea, textarea.input--error[disabled] {
  color: #912925;
}
.input--error.is--disabled.input:hover, input.input--error.is--disabled:hover:not([type=submit]),
.input--error.is--disabled.select:hover, select.input--error.is--disabled:hover,
.input--error.is--disabled.textarea:hover, textarea.input--error.is--disabled:hover, .input--error.is--disabled.input:focus, input.input--error.is--disabled:focus:not([type=submit]),
.input--error.is--disabled.select:focus, select.input--error.is--disabled:focus,
.input--error.is--disabled.textarea:focus, textarea.input--error.is--disabled:focus, .input--error[disabled].input:hover, input.input--error[disabled]:hover:not([type=submit]),
.input--error[disabled].select:hover, select.input--error[disabled]:hover,
.input--error[disabled].textarea:hover, textarea.input--error[disabled]:hover, .input--error[disabled].input:focus, input.input--error[disabled]:focus:not([type=submit]),
.input--error[disabled].select:focus, select.input--error[disabled]:focus,
.input--error[disabled].textarea:focus, textarea.input--error[disabled]:focus {
  cursor: not-allowed;
  color: #912925;
  background-color: #cc3c37;
  outline: none;
  border: 0.1rem solid #cc3c37;
}
.input--error.input::placeholder, input.input--error:not([type=submit])::placeholder,
.input--error.select::placeholder, select.input--error::placeholder,
.input--error.textarea::placeholder, textarea.input--error::placeholder {
  color: #fafafa;
}
.input--success.input, input.input--success:not([type=submit]),
.input--success.select, select.input--success,
.input--success.textarea, textarea.input--success {
  text-decoration: none;
  border: 0.1rem solid #209369;
}
.input--success.input:hover, input.input--success:hover:not([type=submit]),
.input--success.select:hover, select.input--success:hover,
.input--success.textarea:hover, textarea.input--success:hover, .input--success.input:focus, input.input--success:focus:not([type=submit]),
.input--success.select:focus, select.input--success:focus,
.input--success.textarea:focus, textarea.input--success:focus {
  color: #fafafa;
  background-color: #209369;
  outline: none;
  border: 0.1rem solid #209369;
}
.input--success.is--disabled.input, input.input--success.is--disabled:not([type=submit]),
.input--success.is--disabled.select, select.input--success.is--disabled,
.input--success.is--disabled.textarea, textarea.input--success.is--disabled, .input--success[disabled].input, input.input--success[disabled]:not([type=submit]),
.input--success[disabled].select, select.input--success[disabled],
.input--success[disabled].textarea, textarea.input--success[disabled] {
  color: #1c7e5a;
}
.input--success.is--disabled.input:hover, input.input--success.is--disabled:hover:not([type=submit]),
.input--success.is--disabled.select:hover, select.input--success.is--disabled:hover,
.input--success.is--disabled.textarea:hover, textarea.input--success.is--disabled:hover, .input--success.is--disabled.input:focus, input.input--success.is--disabled:focus:not([type=submit]),
.input--success.is--disabled.select:focus, select.input--success.is--disabled:focus,
.input--success.is--disabled.textarea:focus, textarea.input--success.is--disabled:focus, .input--success[disabled].input:hover, input.input--success[disabled]:hover:not([type=submit]),
.input--success[disabled].select:hover, select.input--success[disabled]:hover,
.input--success[disabled].textarea:hover, textarea.input--success[disabled]:hover, .input--success[disabled].input:focus, input.input--success[disabled]:focus:not([type=submit]),
.input--success[disabled].select:focus, select.input--success[disabled]:focus,
.input--success[disabled].textarea:focus, textarea.input--success[disabled]:focus {
  cursor: not-allowed;
  color: #1c7e5a;
  background-color: #25a878;
  outline: none;
  border: 0.1rem solid #25a878;
}
.input--success.input::placeholder, input.input--success:not([type=submit])::placeholder,
.input--success.select::placeholder, select.input--success::placeholder,
.input--success.textarea::placeholder, textarea.input--success::placeholder {
  color: #fafafa;
}

.label, label {
  color: #0a0a0a;
  font-weight: 700;
  margin-right: 0.7rem;
}

.textarea, textarea {
  resize: none;
}

/**
 * Lists
 */
.list-numbered > li, .list > li {
  margin: 0.3090234858rem 0;
}

.list {
  padding: 0 0 0 1rem;
  list-style-type: disc;
}

.list-numbered {
  padding: 0 0 0 2rem;
  list-style-type: decimal-leading-zero;
}

/**
 * Loading
 */
@keyframes loadingBarAnimation {
  0% {
    height: 24px;
  }
  50% {
    height: 0;
  }
  100% {
    height: 24px;
  }
}
.loading__bar-3, .loading__bar-2, .loading__bar-1 {
  display: inline-block;
  position: absolute;
  top: 6px;
  width: 6px;
  background-color: #ff3d00;
  border-radius: 6px;
  animation-duration: 750ms;
  animation-name: loadingBarAnimation;
  animation-iteration-count: infinite;
}

.loading {
  position: fixed;
  z-index: 500;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250, 250, 250, 0.9);
  text-align: center;
}
.loading__wrapper {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 36px;
  margin: 10% auto 0 auto;
}
.loading__bar-1 {
  left: 6px;
}
.loading__bar-2 {
  left: 18px;
  animation-delay: 100ms;
}
.loading__bar-3 {
  left: 30px;
  animation-delay: 200ms;
}
.loading__label {
  color: #0a0a0a;
  padding-top: 0.3rem;
}

/**
 * Modals
 */
.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 400;
  padding: 0.7rem;
}
.modal.modal--active {
  display: block;
}
.modal > .modal__close-icon {
  text-align: right;
  margin: 0 0 0.7rem 0;
}

/**
 * Notify
 */
.notify-icon {
  min-width: 1em;
  height: 1em;
  border-radius: 1em;
  display: inline-block;
  padding: 0 0.3em;
  text-align: center;
  line-height: 1em;
  vertical-align: middle;
}
.notify-icon__label {
  font-size: 0.6em;
  line-height: 1em;
  vertical-align: middle;
}

.notify-msg {
  display: inline-block;
  border-radius: 0.3em;
  padding: 0.3rem 0.7rem;
}
.notify-msg > .material-icons {
  font-size: 1.4em;
}
.notify-msg > .material-icons + .notify-msg__label {
  margin-left: 0.5em;
}

/**
 * Tables
 */
.table > thead > tr {
  border-bottom: 1px solid #646464;
}
.table > thead > tr > th {
  color: #0a0a0a;
  font-weight: 700;
  padding: 0.4rem 1rem 0.1rem 0.2rem;
}
.table > tbody > tr {
  border-bottom: 1px solid gainsboro;
}
.table > tbody > tr:last-child {
  border-bottom: none;
}
.table > tbody > tr > td {
  padding: 0.4rem 1rem 0.2rem 0.2rem;
}
.table.table--striped > tbody > tr:nth-child(odd) {
  color: #1e1e1e;
  background-color: #f0f0f0;
}

/**
 * Topnav
 */
.topnav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  height: 50px;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.topnav__brand {
  display: inline-flex;
  background-image: url("http://localhost:3601/images/brand/core-brand-primary.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 36px;
  width: 36px;
  margin-right: 0.7rem;
}

.topnav__content {
  display: inline-flex;
  flex-grow: 1;
}
@media (max-width: 768px) {
  .topnav__content {
    display: none;
  }
}

@media (max-width: 768px) {
  .topnav__content.topnav__content--active {
    display: block;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 300;
    padding: 0.7rem;
    background-color: rgba(240, 240, 240, 0.9);
  }
}

.topnav__content__main,
.topnav__content__secondary {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  flex-grow: 1;
}
@media (max-width: 768px) {
  .topnav__content__main,
.topnav__content__secondary {
    display: block;
    position: relative;
    margin: 0 0 0.7rem 0;
  }
}

.topnav__content__main {
  justify-content: flex-start;
}
@media (max-width: 768px) {
  .topnav__content__main {
    margin-bottom: 0.7rem;
  }
}

.topnav__content__secondary {
  justify-content: flex-end;
}

.topnav__list {
  display: inline-flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .topnav__list {
    display: block;
  }
}

.topnav__content__main > .topnav__list > li {
  margin-right: 0.7rem;
}

.topnav__content__secondary > .topnav__list > li {
  margin-left: 0.7rem;
}

@media (max-width: 768px) {
  .topnav__content__main > .topnav__list > li,
.topnav__content__secondary > .topnav__list > li {
    margin: 0 0 0.7rem 0;
  }
}

.topnav__link {
  color: #0a0a0a;
  text-decoration: none;
  line-height: 24px;
  vertical-align: middle;
}
.topnav__link:hover {
  text-decoration: none;
}
.topnav__link > .material-icons {
  font-size: 24px;
}
.topnav__link > .material-icons, .topnav__link > span {
  line-height: 24px;
  vertical-align: middle;
}
.topnav__link > .material-icons + span {
  margin-left: 0.35rem;
}

.topnav__toggler {
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-out;
  display: none;
  height: 36px;
  width: 36px;
  color: #1e1e1e;
  border: none;
  border-radius: 0.3em;
  background-color: #e3e3e3;
}
.topnav__toggler:hover {
  transition-property: background-color;
  transition-duration: 0.2ms;
  transition-timing-function: ease-in;
  background-color: #d7d7d7;
}
@media (max-width: 768px) {
  .topnav__toggler {
    display: inline-block;
  }
}

.helptext {
  display: inline-block;
  font-size: 0.6180469716rem;
  padding-top: 0.3rem;
}
.helptext > ul {
  list-style-type: disc;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 0 1rem 0;
}
.helptext > ul > li {
  padding: 0.3rem 0;
}

/*# sourceMappingURL=main.css.map */
